:root {
  --main-color: #bf9270;
  --secondary-color: #b3541e;
  --accent-color: #191919;
  --border: 2px solid #b3541e;
}
.home, .about, .project, .contact {
  background-color: var(--accent-color);
}
/*navbar*/
.nav li, .nav li a{
  color: #c4b6b6;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 10px 20px 0 40px;
}

/*page and project titles*/
h1,
h3 {
  font-family: "Noto Serif Display", serif;
  text-align: center;
  color: var(--main-color);
  padding: 15px;
}

.name {
  font-size: 120px;
  margin: 90px 0;
  text-align: center;
}
.page-title {
  color: var(--main-color);
  font-size: 60px;
}
.description {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #c4b6b6;
}
.more-info {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

.git-link{
  text-decoration: none;
  color: #c4b6b6;
  font-size: 12px;
}
.git-link:hover{
  text-decoration: none;
  color: var(--main-color);
}

.button {
  font-size: 14px;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--main-color);
  border: 1px var(--main-color) dotted;
  background-color: var(--accent-color);
  margin-top: 60px;
}
.button:hover {
  transition: ease-in-out 200ms;
  color: white;
  background-color: var(--main-color);
}

.project-button {
  border-radius: 4px;
  border: none;
  background-color: var(--main-color);
  text-decoration: none;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: var(--accent-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.project-button:hover {
  background-color: var(--secondary-color);
  color: #c4b6b6;
  transition: ease-in-out 100ms;
}
.container {
  padding: 40px  10px;
}
.project-pic {
  border-radius: 15px;
  border: dotted 1px #c4b6b6;
}

.info /*any text that is not a heading*/ {
  font-size: 18px;
  font-family: "Source Serif Pro", serif;
  justify-content: space-evenly;
  text-align: justify;
  color: #c4b6b6;
}
p {
  text-align: center;
}
.socials {
  text-decoration: none;
  color: var(--main-color);
  padding: 10px;
}
.socials:hover {
  text-decoration: none;
  color: var(--secondary-color);
}
