:root {
  --main-color: #778554;
  --accent-color: #949e7b;
  --border: 2px solid;
}

.main h1 {
  color: var(--main-color);
  font-size: 52px;
  font-family: "Playfair Display SC", serif;
}
.main h3 {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.intro {
  display: flex;
  justify-content: center;
}
.more-info {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.more-info a {
  font-size: 15px;
  padding: 7px;
  margin: 20px;
  border: var(--border) var(--main-color);
  border-radius: 4px;
  text-decoration: none;
  color: var(--main-color);
}
.about:hover,
.projects:hover {
  transition: ease-in-out 200ms;
  color: white;
  background-color: var(--main-color);
}

/*About me page */

h1 {
  color: var(--main-color);
  font-size: 52px;
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

.home-button,
.contact {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 15px;
  border: var(--border) var(--main-color);
  border-radius: 60px;
  text-decoration: none;
  color: var(--main-color);
}
.home-button:hover,
.contact:hover {
  transition: ease-in-out 200ms;
  color: white;
  background-color: var(--main-color);
  font: 30px;
}
